<div>
  <a class="btn-shopping-cart" data-toggle="modal" data-target="#shopping-cart-modal"><img [@animState]="stateCar" class="shopping-cart-rappi" src="../../assets/images/shopping_cart_up.png" alt=""></a>
  <img [@animStateCheck]="stateCheck" class="shopping-cart-check" src="../../assets/images/check.png" alt="">
</div>

<!-- Modal -->
<div id="shopping-cart-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Carrito de compras</h4>
      </div>
      <div class="width-infinity">
        <div class="modal-body">

          <div *ngFor="let product of products_car" class="panel panel-rappi-shopping">
            <div class="panel-heading">{{product.name}}</div>
            <img src="{{product.img}}" alt="" width="100%">
            <div class="panel-body text-center">
                  <h4 class="price text-center">{{product.price | monedaColombia}}</h4>
              </div>
            <div class="text-center product-cant">
                  <button class="btn btn-success" (click)="sendToDownProduct(product)"><i class="fa fa-minus"></i></button>
                  <span class="number cant-id">{{product.cantidad}}</span>
                  <button class="btn btn-success" (click)="sendToUpProduct(product)"><i class="fa fa-plus"></i></button>
              </div>
            <div class="text-center panel-btn-delete" (click)="sendToDeleteProduct(product)"><button class="btn btn-lg btn-danger text-center">Eliminar</button></div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>