<!-- Home -->
<section id="home" class="img-bg">
  <div class="container">
    <div class="row filters-header">

      <div class="col-xs-12">
        <app-search (search)="buscar = $event"></app-search>
      </div>

      <div class="col-xs-12 col-sm-3 text-center ui-group">
        <h3>Categorias</h3>
        <app-category [categories]="categorias" (select)="categoria = $event"></app-category>
      </div>

      <div class="col-xs-12 col-sm-3 text-center ui-group">
        <h3>Tipo</h3>
        <app-type (type)="tipo = $event"></app-type>
      </div>

      <div class="col-xs-12 col-sm-3 text-center ui-group">
        <h3>Precio</h3>
        <app-price (price)="precio = $event"></app-price>
      </div>

      <div class="col-xs-12 col-sm-3 text-center ui-group">
        <h3>Ordenar</h3>
        <app-sort (sort)="orden = $event"></app-sort>
      </div>
    </div>

    <div *ngFor="let producto of productos | search: buscar | category: categoria | sortBy: orden | price: precio | type: tipo" class="product-item col-xs-12 col-sm-4 col-md-3">
      <app-productos [producto]="producto" (seleccionado)="addToShoppindCart($event)">
        <div id="contenedor">
          <div class="loader" id="loader">Loading...</div>
        </div>
      </app-productos>
    </div>
  </div>

  <app-shopping-car [products_car]="shopping_car" (aumentar)="setUpProduct($event)" (disminuir)="setDownProduct($event)" (borrar)="deleteProduct($event)"></app-shopping-car>

</section>
