<!-- Home -->
<section id="home" class="img-bg">
  <div class="container">
    <div class="row filters-header">

      <div class="col-xs-12">
      </div>

      <div class="col-xs-12 col-sm-3 ui-group">
        <h3>Categorias</h3>
      </div>

      <div class="col-xs-12 col-sm-3 ui-group">
        <h3>Tipo</h3>
      </div>

      <div class="col-xs-12 col-sm-3 ui-group">
        <h3>Precio</h3>
      </div>

      <div class="col-xs-12 col-sm-3 ui-group">
        <h3>Ordenar</h3>
      </div>
    </div>

  </div>

</section>